body
{
	font-family : 'Montserrat', 'Open Sans', 'Segoe UI', Arial, sans-serif;
	text-align : center;
	color: #4d4d4f;
}
h1
{
	text-align : center;
	border : 5px solid #00aeef;
	margin-left: 20px;
	margin-right: 20px;
	color: #00aeef;
}
table
{
	margin-right: auto;
	margin-left: auto;
	padding : 5px;
	text-align: center;
	border: 3px solid #00aeef;
	border-collapse: collapse;
}
td
{
	border : 1px solid #4d4d4f;
	text-align: center;
}
table>thead
{
	background-color: #00aeef;
	color: #ffffff;
}
table>thead>tr>td
{
	padding: 5px;
	border: 3px solid #00aeef;
	font-weight: bold;
	font-size: 150%;
}
table>tbody>tr>td
{
	padding: 5px;
	border: 1px solid #00aeef;
}
.success
{
	background-color: #329d6e;
	color: #ffffff;
}
.failure
{
	background-color: #d8515b;
	color: #ffffff;
}
.soldeNegatif
{
	font-weight: bold;
	color: #d8515b;
}
footer
{
	margin-top: 10px;
	font-style: italic;
	border: 1px solid #4d4d4f;
	box-shadow: 3px 3px 5px rgba(77, 77, 79, 0.5);
}
.btnLogout
{
	position: absolute;
	top : 90px;
	left : 30px;
	background-color: #4d4d4f;
	color: #ffffff;
	border: none;
	padding: 5px 15px;
	cursor: pointer;
	font-family: inherit;
}
.btnLogout:hover
{
	background-color: #00aeef;
}